include mixins
include main-mixins

- var hasToolbar = false
- var entityTypeId = 'PartAvailability'

doctype html
html
    head
        +defaultHead()
        block head

    body(style="padding-top:20px")
      div(ng-app='allcount', ng-init="viewState = {mode: 'list', filtering: {}}")
        .splash(style="padding: 2em 0 2em; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://motorbikesdetailing.com.au/images/slidersmall/motorbike-detailing%20(14).jpg');background-position-y: -820px;background-position-x: center;")
          .container
              .row
                  .col-lg-12(ng-if="!viewState.filtering.textSearch")
                      span.app-logo
                          i(class="fa fa-search fa-fw")
                      h1 МотоBog.ru
                      h2 Все мотозапчасти в одном месте
                  .col-lg-12(ng-if="viewState.filtering.textSearch").ng-cloak
                      h1
                        i(class="fa fa-search fa-fw")
                        | МотоBog.ru
        .container
          .row.text-center: .col-xs-12
            h1(ng-if="!viewState.filtering.textSearch") Найти запчасть в наличии
            input.form-control.input-lg(style="margin-top: 10px", placeholder="Введите наименование запчасти", ng-model="viewState.filtering.textSearch", ng-model-options="{ debounce: 700 }")
            div(style="margin-top: 20px", ng-if="viewState.filtering.textSearch")
              +pagingControl()
          .screen-container(ng-cloak, ng-if="viewState.filtering.textSearch")
              +defaultList()(ng-show="items.length")
                .row(ng-repeat="item in items")
                  .col-lg-9.col-md-8
                    h3 {{item.name}}
                    h4: a(ng-href="{{item.siteUrl}}", target="_blank") {{item.provider.name}}
                  .col-lg-3.col-md-4.text-right
                    h1 {{(item.price / 100) | currency}}
                    
              +noEntries()
              +defaultEditAndCreateForms()
              

    include core-scripts
    script.
      allcountModule.config(["$locationProvider", function ($locationProvider) {
        $locationProvider.html5Mode({enabled: false});
      }]);
