include mixins
include main-mixins

- var hasToolbar = false
- var entityTypeId = 'PartAvailability'

doctype html
html
    head
        +defaultHead()
        script.
          (function(h,o,t,j,a,r){
              h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
              h._hjSettings={hjid:97335,hjsv:5};
              a=o.getElementsByTagName('head')[0];
              r=o.createElement('script');r.async=1;
              r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
              a.appendChild(r);
          })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        block head

    body(style="padding-top:20px")
      div(ng-app='allcount', ng-init="viewState = {mode: 'list', filtering: {}}")
        .splash(style="padding: 2em 0 2em; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/splash.jpg');background-position-y: -700px;background-position-x: center;")
          .container
              .row
                  .col-lg-12(ng-if="!viewState.filtering.textSearch")
                      span.app-logo
                          i(class="fa fa-search fa-fw")
                      h1 zrum.ru
                      h2 Все мотозапчасти в одном месте
                  .col-lg-12(ng-if="viewState.filtering.textSearch").ng-cloak
                      h1
                        i(class="fa fa-search fa-fw")
                        | zrum.ru
        .container
          .row.text-center: .col-xs-12
            h1(ng-if="!viewState.filtering.textSearch") Найти запчасть в наличии
            input.form-control.input-lg(style="margin-top: 10px", placeholder="Введите наименование запчасти", ng-model="viewState.filtering.textSearch", ng-model-options="{ debounce: 700 }")
            div(style="margin-top: 20px", ng-if="viewState.filtering.textSearch")
              +pagingControl()
          .screen-container(ng-cloak, ng-if="viewState.filtering.textSearch")
              +defaultList()(ng-show="viewState.paging && viewState.paging.count > 0")
                .row(ng-repeat="item in items")
                  .col-lg-9.col-md-8
                    h3 {{item.name}}
                    h4: a(ng-href="{{item.siteUrl}}", target="_blank") {{item.provider.name}}
                    h4: a(ng-href="tel:{{item.phone}}") {{item.phone}}
                  .col-lg-3.col-md-4.text-right
                    h1 {{(item.price / 100) | currency}}
                    
              +noEntries()
              +defaultEditAndCreateForms()
              

    include core-scripts
    script.
      allcountModule.config(["$locationProvider", function ($locationProvider) {
        $locationProvider.html5Mode({enabled: false});
      }]);
