include mixins
include main-mixins

- var hasToolbar = false
- var entityTypeId = 'PartAvailability'

doctype html
html
    head
        +defaultHead()
        block head

    body(style="padding-top:20px")
      div(ng-app='allcount', ng-init="viewState = {mode: 'list', filtering: {}}", ng-controller="SearchController")
        .splash(style="padding: 2em 0 2em; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/splash.jpg');background-position-y: -700px;background-position-x: center;")
          .container
              .row
                  .col-lg-12(ng-if="!viewState.filtering.textSearch")
                      span.app-logo
                          i(class="fa fa-search fa-fw")
                      h1 zrum.ru
                      h2 Все мотозапчасти в одном месте
                  .col-lg-12(ng-if="viewState.filtering.textSearch").ng-cloak
                      h1
                        i(class="fa fa-search fa-fw")
                        | zrum.ru
        .container
          .row.text-center: .col-xs-12
            h1(ng-if="!viewState.filtering.textSearch") Найти запчасть в наличии
            input.form-control.input-lg(style="margin-top: 10px", placeholder="Введите наименование запчасти", ng-model="viewState.filtering.textSearch", ng-model-options="{ debounce: 700 }")
            div(style="margin-top: 20px", ng-if="viewState.filtering.textSearch")
              +pagingControl()
          .screen-container(ng-cloak, ng-if="viewState.filtering.textSearch")
              +defaultList()(ng-show="viewState.paging && viewState.paging.count > 0")
                .row(ng-repeat="item in items")
                  .col-lg-9.col-md-8
                    h3: a(ng-href="{{item.siteUrl}}", target="_blank", ng-click="trackNavigate(item)") {{item.name}}
                    h4 {{item.provider.name}}
                    h4: a(ng-href="tel:{{item.phone}}", ng-click="callItem(item)") {{item.phone}}
                  .col-lg-3.col-md-4.text-right
                    h2 {{(item.price / 100) | currency}}
                    h3.text-success(ng-if="item.isAvailable") В наличии
                    h3.text-danger(ng-if="!item.isAvailable") Нет в наличии
                    
              +noEntries()
              +defaultEditAndCreateForms()
              

    include core-scripts
    script.
      angular.module('allcount').config(["$locationProvider", function ($locationProvider) {
        $locationProvider.html5Mode({enabled: false});
      }]);
      
      angular.module('allcount').controller('SearchController', ['$scope', function ($scope) {
        $scope.$watch('viewState.filtering.textSearch', function (textSearch) {
          lc.track('search', {query: textSearch});
        })
        
        $scope.$watch('viewState.paging.count', function (count) {
            if (count === 0 && $scope.viewState && $scope.viewState.filtering && $scope.viewState.filtering.textSearch) {
              lc.track('not-found', {query: $scope.viewState.filtering.textSearch});
            }
        })
        
        $scope.trackNavigate = function (item) {
          lc.track('navigate', {item: item});
        }
        
        $scope.callItem = function (item) {
          lc.track('call', {item: item});
        }
      }]);
